
<div class="main-container">
	<div class="input-container{{if activeState.isOpen ' active'}}" {{action 'focusInput' ''}}>
		{{input value=timestampDate key-up=(action 'keyUpAction') key-down=(action "keyDownAction") focus-in=(action "focusAction") click=(action "clickAction" bubbles=false)}}
	</div>

	<div class="dialog-container{{if activeState.isOpen ' show'}}{{if activeState.isTop ' top'}}">
		{{#if activeState.isOpen}}
			{{interfaces/combined-picker paperDate=paper paperCalendar=calendar activeState=activeState onClose=(action 'closeAction') onUpdate=(action 'update')}}
		{{/if}}
	</div>
</div>